@import url("../../Global.css");

.card{
    background-color: var(--background-color) !important;
    border: 1px solid var(--default-border-color) !important;
}

.card .titulo-card, .card p{
    color: var(--cinza-variant);
}

.card .linha-card{
    height: 2px;
    width: 100%;     
    background-color: var(--amarelo-primario); 
    margin: 1rem 0 1rem 0;       
}

.imagem-escala-cinza{
    filter: grayscale(1);
}
